* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;

}


.container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    /* flex-direction: column; */
    margin: 20px;
    padding: 25px;
    align-items: center;

}

.flex {
    height: 120px;
    width: 120px;
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 40px;
    font-size: 30px;
}


/* Grid */
.container-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1;
    /* grid-template-rows: 25% 100px auto; */
    /* align-items: stretch; */
}

.grid {
    background-color: #2980b9;
    border-radius: 50%;
    color: #ffffff;
    padding: 20px;
    font-size: 5rem;
    margin: 15px;
    height: 150px;
    width: 150px;
    justify-self: center;
    text-align: center;
    align-items: center; 
}

/* mobile */
@media only screen and (max-width: 760px) {
    .container {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-evenly;
        align-items: center;
    }

    .flex {
        height: 30px;
        width: 30px;
        /* background-color: #333; */
        color: #ffffff;
        padding: 20px;
        font-size: 15px;
        margin: 5px;

    }
    .container-2 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1;
        /* grid-template-rows: 25% 100px auto; */
        /* align-items: stretch; */
    }
    
    .grid {
        background-color: #2980b9;
        border-radius: 50%;
        color: #ffffff;
        padding: 20px;
        font-size: 15px;
        margin: 5px;
        height: 20px;
        width: 20px;
        justify-self: center;
        /* text-align: center;
        align-items: center; */
    }
}